In [1]:
import pandas as pd

In [2]:
table1 = pd.read_excel (r'C:\Users\Asus\Desktop\таблицы.xlsx', sheet_name='Лист1', header=None)
table2 = pd.read_excel (r'C:\Users\Asus\Desktop\таблицы.xlsx', sheet_name='Лист2', header=None)

In [3]:
display(table1)

,0,1,2,3,4,5,6,7,8
0,Дата,Вид дон-ва,Количество,Дата,Вид дон-ва,Количество,Дата,Вид дон-ва,Количество
1,1,2,3,4,5,6,7,8,9
2,2019-06-21 00:00:00,кр/д (бв),350,2020-08-05 00:00:00,пл/д (бв),600,2021-11-03 00:00:00,пл/д (бв),600
3,2019-08-29 00:00:00,пл/д (бв),600,2020-08-26 00:00:00,пл/д (бв),600,2022-02-04 00:00:00,пл/д (бв),600
4,2019-09-30 00:00:00,пл/д (бв),600,2020-10-26 00:00:00,пл/д (бв),600,2022-03-02 00:00:00,пл/д (бв),600

In [4]:
display(table2)

,0,1,2,3,4,5,6,7,8
0,Дата,Вид дон-ва,Количество,Дата,Вид дон-ва,Количество,Дата,Вид дон-ва,Количество
1,1,2,3,4,5,6,7,8,9
2,2020-03-01 00:00:00,кр/д (бв),350,2020-08-05 00:00:00,пл/д (бв),600,2021-11-03 00:00:00,да,600
3,2019-08-29 00:00:00,кр,600,2020-08-26 00:00:00,пл/д (бв),521,2022-02-04 00:00:00,пл/д (бв),600
4,2019-09-30 00:00:00,пл/д (бв),600,2020-10-26 00:00:00,пл/д (бв),600,2022-03-02 00:00:00,пл/д (бв),400

In [5]:
def compare_tables(df1, df2):
    #считаем, что праивльной является 1 таблица
    
    num_matching_cells = (df1 == df2).sum().sum()

    total_cells = df1.size
    
    accuracy = num_matching_cells/total_cells
    return num_matching_cells, total_cells, accuracy

In [6]:
compare_tables(table1, table2)

(40, 45, 0.8888888888888888)